/* 
    Author: Hussien Mohamemd,
    version:1 
*/
/* ************************** */

/* guide
    1-fonts
    2-variables
    3-general style
    4-helper classes
    5-header
    6-features
    7-services
    8-about us
    9-FAQ
    10-reviews
    11-gallery
    12-partners
    13-contact us
    14-footer
*/
/* **************************** */

/* 1-import rambla and rock salt fonts */
@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&family=Rock+Salt&display=swap");
/* **************************** */

/* 2-varibales */

:root {
  /* colors */
  --main-color: #00a0dc;
  --active-color: #ff2bb3;
  --text-color: #545454;
  --title-color: #000000;
  --section-color: #f0e8e8;
  --counter-color: #c4c4c4;
  --navbar-bg: #f3e8e8;
  --black-input-color: #545454;

  /* fonts */
  /* other */
  --trans: all 0.4s linear;
}

/* 3- general styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Rambla", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--main-color);
  position: relative;
  color: var(--main-color);
  padding: 0 24px;
  background-color: transparent;
  width: 100%;
}

input::placeholder {
  color: var(--main-color);
  text-transform: capitalize;
}

select {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  padding: 0 24px;
  outline: none;

}

input[type="radio"],
input[type="file"] {
  width: 0 !important;
  height: 0;
  opacity: 0;
}

/* 4-helper classes */

.nav-link {
  margin: 0 8px;
  color: var(--main-color) !important;
  font-size: 18px;
  font-weight: 700;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
  text-transform: capitalize;
}

.active,
.nav-link:hover {
  color: var(--active-color) !important;
}

.navbar .icons {
  font-size: 26px;
  color: var(--main-color);
  margin: 0 8px;
  line-height: 26px;
  vertical-align: middle;
  position: relative;
}

.navbar .notification {
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  padding: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--main-color);
  top: 80%;
  display: none;
}

.navbar .notification ul {
  padding: 0;
}

.navbar .notification li {
  list-style-type: none;
  padding: 16px 16px 0;
  border-bottom: 1px solid var(--main-color);
}

.navbar .notification li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.navbar .notification li a p {
  margin: 0 4px;
}

.navbar .notification li a h5 {
  font-size: 16px;
  margin: 0 4px;
}

.custom-out-btn {
  color: var(--main-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 2px solid var(--main-color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
  padding: 8px 32px;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  background-color: transparent;
}

.custom-out-btn:hover {
  color: #fff;
  background-color: var(--main-color);
}

.section {
  padding: 64px 0;
}

.colored-section {
  background-color: var(--section-color);
}

.section-title {
  margin-bottom: 32px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.section-title p {
  font-size: 18px;
  text-align: center;
  color: var(--text-color);
  padding: 0 128px;
  text-transform: capitalize;
}

.section-title a,
.auth a {
  color: var(--main-color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.section-title a:hover,
.auth a:hover {
  color: var(--active-color);
}

.black-contact-form .btn-custom {
  width: auto;

}

.lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000;
  display: none;
}

.lightbox .inner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox .close {
  position: absolute;
  padding: 8px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  font-size: 48px;
  width: 50px;
  height: 50px;
  cursor: zoom-out;
}

.black-contact-form input,
.input-item .file-input {
  border-bottom: 1px solid var(--black-input-color);
  color: #000;
  width: 100%;
}

.black-contact-form input::placeholder,
.input-item .file-input::placeholder {
  color: var(--black-input-color);
}

.input-item {
  max-width: 500px;
  margin: auto;
  position: relative;
  margin-bottom: 32px;
  display: block;
}

.input-item .file-input {
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.input-item span,
.input-item .file-input span {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-color);
}

.input-item span.second,
.input-item .file-input span.second {
  right: 0;
  left: auto;
  cursor: pointer;
}

.black-contact-form .input-item span,
.black-contact-form .input-item .file-input span.second {
  color: var(--black-input-color);
}

.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin-bottom: 16px;
}

.remember .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
}

.remember .checkbox input {
  margin-right: 16px;
  width: auto;
}

.btn-custom {
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  padding: 8px 16px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid var(--main-color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.btn-gray-custom {
  background-color: #C4C4C4;
  color: var(--text-color);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 16px;
  border: 1px solid #c4c4c4;
}

.btn-custom:hover {
  background-color: transparent;
  color: var(--main-color);
}

.btn-gray-custom:hover {
  background-color: #c4c4c4;
  color: var(--text-color);
}

.upload-text {
  position: absolute;
  left: 25px;
  margin-bottom: 0;
}

.social-auth {
  margin-top: 32px;
}

.social-auth h3 {
  font-size: 18px;
  color: var(--title-color);
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 32px;
}

.social-auth .social-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;

}

.social-auth .btn-custom .icon {
  padding-right: 8px;
  border-right: 1px solid #fff;
  margin-right: 16px;
}

.social-auth .btn-custom.facebook,
.social-auth .btn-custom.facebook:hover {
  background-color: #3B5898;
  border: 1px solid #3B5898;
}

.social-auth .btn-custom.gmail,
.social-auth .btn-custom.gmail:hover {
  background-color: #E74E3B;
  border: 1px solid #E74E3B;

}

.social-auth .btn-custom:hover {
  color: #fff;
}

.radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radios .radio {
  position: relative;
}

.radios .radio input {
  opacity: 0;
}

.radios .radio label {
  cursor: pointer;
  z-index: 10;
}

.icon-animate {
  animation: shake .5s linear 0s infinite alternate both;
  -webkit-animation: shake .5s linear 0s infinite alternate both;
}

/* 5-header */
/* navbar */
.navbar {
  background-color: var(--navbar-bg);
}

.navbar .auth-btn {
  order: 1;
}

.navbar-light .navbar-toggler {
  border-color: var(--main-color);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 160, 220, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* banner slider */

.home-slider .swiper {
  width: 100%;
  height: 100%;
}

.home-slider .swiper-slide,
.home-slider .home-banner {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: calc(100vh - 137px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-slider .swiper-pagination {
  position: static;
  margin: 16px 0 0;
}

.home-slider .swiper-pagination-bullet {
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
}

.home-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-slider .slider-content {
  text-align: left;
  color: #fff;
  text-transform: capitalize;
}

.home-slider .slider-content h1 {
  font-size: 56px;
  margin-bottom: 32px;
}

.home-slider .slider-content p {
  font-size: 18px;
}

/* 6-feature */
.feature-item {
  text-align: center;
  padding: 0 16px;
  text-transform: capitalize;
}

.feature-item h3,
.feature-item span {
  color: var(--main-color);
}

.feature-item span {
  font-size: 32px;
}

.feature-item h3 {
  font-size: 24px;
  margin: 4px 0 8px;
}

.feature-item p {
  color: var(--text-color);
}

/* *************** */
/* 7-services */
.service {
  padding: 0 16px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.service-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--main-color);
  margin-bottom: 16px;
}

.service-title h3 {
  font-size: 24px;
  margin: 0px 8px;
}

/* ****************** */
/* 8-about us */
.welcome {
  text-transform: capitalize;
}

.welcome h3 {
  color: var(--main-color);
  font-size: 36px;
  margin-bottom: 16px;
}

.welcome p {
  color: var(--text-color);
  font-size: 16px;
}

.about-welcome {
  margin-bottom: 32px;
}

.about-welcome img {
  width: 100%;
}

.about-points {
  text-transform: capitalize;
}

.about-point {
  padding: 0 16px;
}

.about-point h4 {
  font-size: 24px;
  color: var(--main-color);
  margin-bottom: 8px;
}

.about-point h4:before {
  color: var(--counter-color);
  font-size: 72px;
  display: block;
}

.about-points .col-md-4:first-child h4:before {
  content: "01";
}

.about-points .col-md-4:nth-child(2) h4:before {
  content: "02";
}

.about-points .col-md-4:last-child h4:before {
  content: "03";
}

/* ******************** */
/* 9-faq */
.subtitle h3 {
  color: var(--main-color);
  font-size: 36px;
  margin-bottom: 32px;
  text-align: center;
}

.q-slider .swiper {
  width: 100%;
  height: 100%;
}

.q-slider .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.q-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.q-slider .question {
  text-align: left;
  padding: 0 4px;
}

.q-slider .question h4 {
  color: var(--main-color);
  font-size: 24px;
  text-transform: capitalize;
}

/* ************************ */
/* 10-reviews */
.reviews-slider .swiper {
  width: 100%;
  height: 100%;
}

.reviews-slider .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 16px;
}

.reviews-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-slider .r-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
  margin-bottom: 16px;
  margin: auto;
}

.reviews-slider .rating {
  color: var(--main-color);
  margin-bottom: 16px;
}

.reviews-slider .r-name h4 {
  font-size: 24px;
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
}

.reviews-slider .review {
  color: var(--text-color);
  padding: 0 8px;
}

.review-container {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ******************** */
/* 11-gallery */
.gallery-img {
  cursor: zoom-in;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.gallery-img img {
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
  width: 100%;
}

.gallery-img:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* *********************** */
/* 12-partners */
.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.partner img {
  max-width: 100%;
}

/* ********************** */
/* 13-contact us */
.contact-us .inner {
  overflow: hidden;
}

.contacts-container {
  padding: 64px;
  background-color: var(--main-color);
  height: 100%;
}

.contact-form-container {
  padding: 64px;
}

.contact-item {
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.contact-item:last-of-type {
  border-bottom: 1px solid #fff;
}

.contact-item a {
  color: #fff;
  margin-left: 8px;
}

.social .section-title h2 {
  color: #fff;
  margin-top: 32px;
  font-weight: normal;
  text-align: left;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-item {
  width: 50px;
  height: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.social-item a {
  font-size: 24px;
  color: #fff;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.social-item:hover {
  background-color: #fff;
}

.social-item:hover a {
  color: var(--main-color);
}

.contact-form {
  text-align: center;
}



/* ****************** */
/* 14-footer */
.footer {
  padding: 16px;
}

.footer .row {
  align-items: center;
}

.footer .footer-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-nav ul li {
  margin: 0 16px;
  font-weight: bold;
  font-size: 18px;
}

.footer .footer-nav ul li a {
  color: var(--main-color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.footer .footer-nav ul li a:hover {
  color: var(--active-color);
}

/* ******************** */
/* subnav */
main {
  min-height: 100vh;
}

.sub-nav {
  padding: 32px 0;
}

.sub-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.sub-nav ul a {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

/* ******************* */
/* select user */
.user-levels {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user-level {
  margin: 0 32px 32px;
}

.user-level .level-img {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-level .level-name {
  text-align: center;
  color: var(--main-color);
  font-size: 24px;
  margin-top: 32px;
}

/* login page */
.auth-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-logo img {
  max-width: 100%;
}

/* ***************** */
/* add kids */
.charcter label {
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.charcter label span {
  position: absolute;
  z-index: 10;
  color: #fff !important;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--active-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0;
}

/* ********************* */
/* add another kids */
.kids-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.kids-container .kid {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;

}

.kids-container .kid-icon {
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.kids-container .kid-data p {
  margin-bottom: 0;
  font-size: 18px;
}

.kids-container .kid-data a {
  color: var(--text-color);
}

.kids-container .add-kid {
  width: 100%;
  margin-top: 32px;
}

.skip-button {
  text-align: center;
  margin-top: 32px;
}

/* ****************** */
/* parent edit profile */
.from-container {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px 32px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.parent-edit-profile .from-container {
  height: 100%;
}

.from-container .kids-container .kid {
  width: 100%;
}

.from-container .kid-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67%;
}

/* ***************** */
/* parent home */
.home-banner {
  height: 100vh!important;
  background-image: url("../images/banner/sup-banner.png");
  
}
.home-banner .slider-content{
  margin-bottom: 32px;
  width: 100%;
}
.home-banner .slider-content p{
  color: var(--main-color);
  margin-bottom: 32px;
}
.home-banner .filter-form{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--main-color);
  margin: 32px 0;
  width: 100%;
  overflow: hidden;
}
.home-banner .filter-form .filter {
  width: 100%;
  padding:0 16px;
}
.home-banner .filter-form .filter select,.home-banner .filter-form .filter input,.home-banner .filter-form .filter input::placeholder{
  padding: 16px;
  color: #fff;
  border: 0;
}
.home-banner .filter-form .filter select{
  background-color: transparent!important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.home-banner .filter-form .filter select option{
  background-color: var(--main-color);
  color: #fff;
  border-bottom: 1px solid var(--main-color);
  padding: 8px ;
}

.home-banner .filter-submit button{
  padding: 16px 32px;
  color: var(--main-color);
  background-color: #fff;
}
.about-welcome img{
  max-height: 500px;
  object-fit: contain;
}
.parent-services .service{
  padding:32px 16px;
  margin: 0 32px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px #00000040;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 64px;
}
.parent-services .service div ,.parent-services .service h3{
  color: var(--clr);
  margin-bottom: 16px;
}

.parent-services .service h3{
  margin-bottom: 32px;
}
.parent-services .service .custom-out-btn{
  border-color: var(--clr);
  color: var(--clr);
}
.parent-services .service .custom-out-btn:hover{
  background-color: var(--clr);
  color: #fff;
}
.parent-services .service .parent-services .service-icon{
  font-size: 36px;
}
/* ********** */
/* service one */
.activity{
  background-color: var(--main-color);
  padding: 32px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.activity h3{
  font-size: 48px;
}

.next-event{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.next-event-date{
  width: 10%;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  height: 100%;
  font-size: 26px;
  vertical-align: middle;
  padding: 28px;
}
.next-event-date p{
  margin: 0;
}
.next-event-data{
  width: 90%;
  padding: 0 16px;
}
.next-event-data a{
  color: var(--text-color);
}
.next-event-data h3{
  margin-bottom: 0;
}
.next-event-data p{
  color: var(--text-color);
  margin-top: 16px;
  margin-bottom: 0;
}
/* *************** */
/* service2 */
.service-banner{
  height: 80vh;
  background-image: url('../images/banner/service-banner.png');
  background-position: center center;
  background-size: cover;
  display: flex;
  position: relative;
}
.service-banner::after{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  inset: 0;
}
.page-search{
  position: relative;
  width: 50%;
  max-width: 500px;
  margin: auto;
  z-index: 11;
}
.page-search span{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--main-color);
  font-size: 26px;
  right: 16px;
  cursor: pointer;
}
.page-search input{
  background-color: #fff;
  padding: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  border: 1px solid var(--main-color);
  text-transform: capitalize;
}
.area-container{
  margin-bottom: 64px;
}
.area-title{
  
  color: var(--title-color);
  text-align: left;
  margin-bottom: 32px;
}
.area-title h3{
  font-size: 36px;
}
.area-school-img{
  text-align: center;
}
.school-card{
  margin-bottom: 64px;
}
.area-school-name{
  margin-top: 16px;
  text-align: center;
}
.area-school-name h4{
  color: var(--text-color);
}
.pagination ul{
  margin: 16px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.pagination ul li a{
  padding: 0 16px;
  font-size: 18px;
  color: var(--text-color);
}
.pagination ul li a.active{
  color: var(--main-color)!important;
}
/* *************** */
/* schools */
.school-banner{
  background-image: url('../images/banner/school-banner.webp');
}
/* *************** */
/* animations */
@keyframes shake {
  0% {
    transform: rotatez(30deg);
    -webkit-transform: rotatez(30deg);
    -moz-transform: rotatez(30deg);
    -ms-transform: rotatez(30deg);
    -o-transform: rotatez(30deg);
  }

  100% {
    transform: rotatez(-30deg);
    -webkit-transform: rotatez(-30deg);
    -moz-transform: rotatez(-30deg);
    -ms-transform: rotatez(-30deg);
    -o-transform: rotatez(-30deg);
  }
}